<%- include ("../partials/head.ejs") %>

<% if (returnId) { %>
    <a class="btn btn-secondary" id="back-button" href="/logs/<%= returnId %>"> < Back to Log</a>
<% } else { %>
    <a class="btn btn-secondary" id="back-button" href="/birds">Back to Index</a>
<% } %>

<div class="container">
    <div class="card">
        
        <img class="card-img-top" src="<%= bird.imageURL %>" alt="Bird image"><br>

        <h3 class="card-title"><%= bird.name %></h3>

        <p class="card-subtitle text-muted">Type: <%= bird.type %></p>

        <p class="card-text">Conservation Status: <%= bird.conservationStatus %></p>

        <p class="card-text">  
            <% if (bird.native === true) { %>
                Native
            <% } else { %>
                Not Native
            <% } %>
        </p>

        <p class="card-text"><%= bird.description %></p>

    </div>
</div>

<% if (returnId) { %>
    <a class="btn btn-secondary" id="back-button" href="/logs/<%= returnId %>">< Back to Log</a>
<% } else { %>
    <a class="btn btn-secondary" id="back-button" href="/birds">< Back to Index</a>
<% } %>
<%- include ("../partials/footer.ejs") %>