<%- include ("./partials/head.ejs") %>

<h1>Logs Index</h1>

<a class="btn btn-primary" href="<%= baseUrl %>/new">Add Log</a>

<ul class="index-list">
    <% for (let log of logs) { %>
       <li class="index-log">

            <img src="<%= log.imageURL %>" class="w-90" alt="Log image">

            <div class="log-text">

                <a href="<%= baseUrl %>/<%= log.id %>"><%= log.date.toLocaleDateString("en-US") %></a>

                <p class="log-location"><%= log.location %></p>

                <p class="log-birds">
                    Birds:<br>  
                    <% for (let bird of log.birds) { %>
                        <%= bird.name %><br>
                    <% } %>
                </p>

                <p class="log-notes"><%= log.notes %></p>

                <a class="btn btn-primary" href="<%= baseUrl %>/<%= log.id %>/edit">Edit</a>

                <form action="<%= baseUrl %>/<%= log.id %>?_method=DELETE" method="post">
                    <input class="btn btn-danger" type="submit" value="Delete" />
                </form>

            </div>
        </li> 
    <% } %>
</ul>

<%- include ("./partials/footer.ejs") %>