<%- include ("./partials/head.ejs") %>

<h1>Logs Index</h1>

<a class="btn btn-primary" href="<%= baseUrl %>/new">Add Log</a>

<div class="card-container">
    
        <% for (let log of logs) { %>
            <div class="card" style="width: 15rem;">
                <img class="card-img-top" src="<%= log.imageURL %>" alt="Log image">

                <div class="card-body">

                    <a class="card-title" href="<%= baseUrl %>/<%= log.id %>"><%= log.date.toLocaleDateString("en-US") %></a>

                    <p class="card-subtitle mb-2 text-muted"><%= log.location %></p>

                    <p class="card-text">
                        Birds:<br>  
                        <% for (let bird of log.birds) { %>
                            <%= bird.name %><br>
                        <% } %>
                    </p>

                    <p class="card-text"><%= log.notes %></p>
                    
                    <div class="card-form-container">
                        <a class="card-link btn btn-primary" href="<%= baseUrl %>/<%= log.id %>/edit">Edit</a>

                        <form action="<%= baseUrl %>/<%= log.id %>?_method=DELETE" method="post">
                            <input class="card-link btn btn-danger" type="submit" value="Delete" />
                        </form>
                    </div>
                </div>
            </div>
        <% } %>


</div>

<%- include ("./partials/footer.ejs") %>