<%- include ("./partials/head.ejs") %>

<div class="index-head">

    <div>
        <a class="btn btn-secondary" href="<%= baseUrl %>/new">Add Log</a>
    </div>

    <h3 class="index-head-h3">Logs Index</h3>

    <div class="index-pic">
        <img class="log-icon" src="/images/logbook-icon.png" alt="Index pic">
    </div>

</div>

<div class="card-container">
    <div class="logs-list">
        <% for (let log of logs) { %>
            <div class="card" style="width: 15rem;">

                <a class="card-header" href="<%= baseUrl %>/<%= log.id %>"><%= log.date.toLocaleDateString("en-US") %></a>

                <img class="card-img-top" src="<%= log.imageURL %>" alt="Log image">

                <div class="card-body">

                    <p class="card-subtitle mb-2 text-muted"><%= log.location %></p>

                    <ul class="list-group list-group-flush">
                        <% for (let bird of log.birds) { %>
                            <li class="list-group-item">
                                <small class="text-muted"><%= bird.name %></small>
                            </li>
                        <% } %>
                    </ul>
                    
                    <div class="card-footer">
                            <a class="card-link btn btn-primary" href="<%= baseUrl %>/<%= log.id %>/edit">Edit</a>

                            <form action="<%= baseUrl %>/<%= log.id %>?_method=DELETE" method="post">
                                <input class="card-link btn btn-danger" type="submit" value="Delete" />
                            </form>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

</div>

<%- include ("./partials/footer.ejs") %>