<%- include ("./partials/head.ejs") %>

<a class="btn btn-secondary" href="<%= baseUrl %>"> < Back to Index</a>

<div class="container">
    <div class="card">

        <img class="card-img-top" id="show-img" src="<%= log.imageURL %>" alt="Photo of bird">

        <h3 class="card-title" ><%= log.date.toLocaleDateString("en-US") %></h3>

        <p class="card-subtitle text-muted" >Location: <%= log.location %></p>

        <p class="card-text" >Notes: <%= log.notes %></p>

        <p class="list-group list-group-flush">  
            <% for (let bird of log.birds) { %>
                <a class="list-group-item" href="/birds/<%= bird.id %>?returnId=<%= log.id %>"><%= bird.name %> (click for more details)</a>
            <% } %>
        </p>

        <div class="card-footer">

            <a class="btn btn-primary" href="<%= baseUrl %>/<%= log.id %>/edit">Edit</a>

            <form action="<%= baseUrl %>/<%= log.id %>?_method=DELETE" method="post">
                <input class="btn btn-danger" type="submit" value="Delete" />
            </form>

        </div>
    </div>
</div>

<a class="btn btn-secondary" href="<%= baseUrl %>"> < Back to Index</a>

<%- include ("./partials/footer.ejs") %>